.header__lang-link {
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }
}