.photo-grid__item {
    margin: 0;
    max-width: 284px;
    min-height: 213px;
    object-fit: cover;
}

@media (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
        min-height: 225px;
    }
}

@media (max-width: 1023px) {
    .photo-grid__item {
        max-width: 352px;
        min-height: 264px;
    }
}

@media (max-width: 767px) {
    .photo-grid__item {
        max-width: 288px;
        min-height: 216px;
    }
}