.header {
    max-width: 1184px;
    padding: 0 48px;
    margin: 0 auto 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1279px) {
    .header {
        max-width: 928px;
        margin-bottom: 48px;
    }
}

@media (max-width: 1023px) {
    .header {
        max-width: 720px;
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    .header {
        max-width: 288px;
        padding: 0 16px;
    }
}