.footer {
    margin: 0 auto;
    padding: 0 48px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        min-height: 310px;
        max-width: 186px;
        margin-left: 16px;
        padding: 0;
    }
}