.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .footer {
        max-width: 720px;
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        min-height: 310px;
        justify-content: space-between;
        margin-left: 16px;
        padding: 0;
    }
}